*{
    font-family: "Trebuchet MS", sans-serif;
    /* background: #081621; */
}
img{
	width: 100%;
}
.login {
    height: 750px;
    width: 100%;
    background: radial-gradien(#653d84, #332042);
    position: relative;
    //border: 2px solid wheat;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 59%;
  height: 100%  
}
.left .top_link a {
    color: #452A5A;
    font-weight: 400;
    text-decoration: none;
    
    

}
.left .top_link{
  height: 20px;
  position: absolute;
  left: 5%;
  top: 2%;
  text-decoration: none;

}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: auto;
    width: 73%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 45px;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 300;
    font-size: 14px;
}
.left{
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 20px;
    background: #081621;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}



.right {
	background:url(https://cdn.discordapp.com/attachments/836920234225041428/875476358652895282/pexels-lucie-liz-3165335.jpg);
	color: #fff;
	position: relative;
}

.right .right-text{
  height: 65%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;

}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
}


.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
    position: absolute;
    top: 3%;
    left: -30px;

}